body {
    background-color: #C3C3C3;
}

.card {
    border: none;
    background-color: transparent;
}

.masthead {
    margin-top: 15px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 33vh;
    width: 100%;
}

.image-container {
    position: relative;
}

.nav-slogan {
    margin: 6px 0 0 0;
}

.masthead-text {
    position: relative;
}

.masthead-image {
    position: relative;
}

/* Sign In Page */

.account-card {
    border: 1px solid #3083DC;
    margin: 3%;
    padding: 2.5em;
    border-radius: 2%;
    position: relative;
    text-align: center;
    background-color: aliceblue;
}


.account-card>h1 {
    color: #525152;
    margin-bottom: 0.5em;
    ;
}


.remove-decor {
    text-decoration: none;
    color: #3083DC;
}


.btn {
    margin-top: 1em;
}

/* Sign Up Page */

#signup_form {
    text-align: left;
}

.sign-up-input {
    align: right;
}