body {
    background-color: #C3C3C3;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.card {
    border: none;
    background-color: transparent;
}

.post-link {
    text-decoration: none;
}

.post-title-links {
    color: #525152;
}

.post-card {
    border: 2px solid #3083DC;
    border-top: none;
    border-bottom: none;
}

.read-more {
    text-decoration: none;
    text-align: right;
}

.post-info {
    text-align: center;
}

.masthead {
    margin-top: 15px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
}

.image-container {
    position: relative;
}

.nav-slogan {
    margin: 6px 0 0 0;
}

.masthead-text {
    position: relative;
}

.masthead-image {
    position: relative;
}

.create-post-button {
    border: 1px solid #EEF146;
    border-radius: 5px;
}

.create-post-button:hover {
    border-radius: 5px;
    background-color: #EEF146
}

.author {
    text-align: right;
    margin: 10px;
}

.display_uname {
    margin: 14px 0 0 0;
}

/* Post Detail */

.post-detail-card {
    width: 50vw;
    margin: 0 25vw;
}


.post-image {
    width: 80%;
    margin: 0 10%;
    padding: 0;
}

.form-control {
    background-color: #C3C3C3;
    border-color: #3083DC;
    border-width: 0.2em;
}

.btn-like {
    border: none;
    color: #6c757d;
    background-color: #C3C3C3;
}

.col-1 {
    width: auto;
}

.submit-container {
    align-items: flex-end;
    margin-left: 75%;
}

.submit-btn {
    background-color: #C3C3C3;
    border: 1px solid #3083DC;
    border-radius: 5px;
}


.submit-btn:hover {
    border-radius: 5px;
    background-color: #3083DC;
}

.page-link {
    border-radius: 8px;
}

/* Sign In Page */

.account-card {
    border: 1px solid #3083DC;
    margin: 3%;
    padding: 2.5em;
    border-radius: 2%;
    position: relative;
    text-align: center;
    background-color: aliceblue;
}


.account-card>h1 {
    color: #525152;
    margin-bottom: 0.5em;
    ;
}


.remove-decor {
    text-decoration: none;
    color: #3083DC;
}


.btn {
    margin-top: 1em;
}

/* Sign Up Page */

#signup_form {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .post-detail-card {
        width: 90vw;
        margin: 0 5vw;
    }

}