{% extends 'base.html' %} {% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<!-- Form For Creating A Post -->

<div class="post-detail-card mt-5 border rounded-2">
    <div class="row">
        <div class="col-md-12 card mb-12 mt-12">
            <div class="card-body">
                <h3 class="text-capitalized text-center">Create A Post</h3>
                <p class="text-center">Posting as u/{{ user.username }}</p>
                <hr>
                <br>
                <form class="create_view" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ create_view|crispy }}
                    <div class="submit-container">
                        <button type="submit" class="btn btn-signup btn-lg submit-btn"
                            onsubmit="javascript:clear()">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}